@use './body.scss' as *;
@use './fonts.scss' as *;
@use './variables.scss' as *;
@use './header.scss' as *;
@use './mixins.scss' as *;
@use './home.scss' as *;
@use './footer.scss' as *;
@use './page.scss' as *;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-l;

  @include from('large') {
    padding: $spacing-xl;
  }
}

.main > div:not(:first-child) {
  margin: $spacing-xl $spacing-l;

  @include from('large') {
    max-width: $max-screen-width;
    margin: 0 auto;
  }
}
