$breakpoints: (
  'small': 480px,
  'medium': 768px,
  'large': 1200px,
);

$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;

$font-display: 'Luckiest Guy', cursive;
$font-body: 'Inter', sans-serif;

$color-text: #333;
$color-text-inverse: #fff;
$color-orange: #ff7518;
$color-orange-dark: #cc5500;
$color-background-button: #fbeee0;
$color-border-button: #422800;

$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.25rem; // 20px
$font-size-xl: 1.5rem; // 24px
$font-size-xxl: 2rem; // 32px
$font-size-xxxl: 3rem; // 48px
$font-size-xxxxl: 4rem; // 64px

$max-screen-width: 1200px;
